/* As configurações de Header serão feitas separadas */
.header-completo{
    display: flex;
    flex-direction: column;
}
.menu-topo-ul{
    margin: .6rem;
    padding: .4rem;
    border: 1px solid #c2c2c2;
    display: flex;
    gap: 2rem;
    justify-content: right;
}

ul li{
    list-style: none;
}
.menu-topo-ul li:hover{
    color: red;
}
