/* Aqui será feita importação de fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --cor-fonte-titulos: #353D41;
}


/* Configurações gerais */
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 10px 0;
}
p, li{
    color: #444;
    font-size: 14px;
}
/* As configurações de Header serão feitas separadas */
header .navbar{
    background-color: #31454e;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 55px;
}
.navbar-brand{
    padding: 0 10px;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
#navbar-links a{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem, .8rem;

}
/* Configurações de rodapé */
footer{
    display: flex;
    justify-content: center;
}
/* Aqui fica o formulario de envio */
.tituloFormCadastro{
    font-size: 25px;
    font-weight: bold;
    color: #353D41;
}

/* Configurações do aside menu */

.sidebar-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-fonte-titulos)
}