/* Aqui será feita importação de fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --cor-fonte-titulos: #353D41;
    --cor-fonte-hover-cinza: #ccc9c9;
    --cor-menus: #31454e;
}


/* Configurações gerais */
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 10px 0;
}
p, li{
    color: #444;
    font-size: 14px;
}
/* As configurações de Header serão feitas separadas */
header .navbar{
    background-color: var(--cor-menus);
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 70px;
}
#logo{
    width: 55px;
}
.navbar-brand{
    padding: 0 10px;
    color: #fff;
}
.navbar-brand:hover{
    color: var(--cor-fonte-hover-cinza);
}
#navbar-links a{
    color: #fff;
}
#navbar-links a:hover{
    color: var(--cor-fonte-hover-cinza);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem, .8rem;

}



/* Configurações de rodapé */
footer{
    display: flex;
    justify-content: center;
    background-color: var(--cor-menus);
}
.footer-direitos{
    color: #fff;
}
.redes_sociais{
    list-style: none;
}
#footer-links a{
    color: #fff;
}
#footer-links a:hover{
    color: var(--cor-fonte-hover-cinza);
}


/* Aqui fica o formulario de envio */
.tituloForm{/* Usado para todos os titulos de formularios */
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-fonte-titulos);
}

/* Configurações do aside menu */

.sidebar-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-fonte-titulos);
}


/* Area do form de login */
#loginForm input[type="password"],
#loginForm input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}

.password-container{
    position: relative;
}

.bi-eye, .bi-eye-slash{
    font-size: 150%;
    position: absolute;
    top: 43%;
    right: 4%;
    cursor: pointer;
    color: gray;
}





